@model IEnumerable<EEducation.Model.Entities.Category>

<nav class="d-none d-lg-block">
    <div class="container">
        <div class="d-flex">
            <div class="all_category">
                <div class="bars text-white d-flex align-items-center justify-content-center">
                    <span class="icon"> <i class="las la-bars"></i></span>
                    <span class="icon_text">All categories</span>
                </div>
                <!-- sub categories wrapper  -->
                <div class="sub_categories_wrp">
                    <div class="sub_categories">
                        <h5 class="d-block position-relative d-lg-none subcats_title">
                            All categories

                        </h5>
                        <!-- single categories  -->
                        @foreach (var item in Model)
                        {
                            <a href="#" class="singlecats">
                                <span class="img_wrp">
                                    <i class="las la-shoe-prints"></i>
                                </span>
                                <span class="txt">@item.CategoryName</span>
                            </a>
                        }


                    </div>
                </div>
            </div>
            <ul class="nav_bar flex-grow-1">
                <!-- with sub menu  -->
                <li class="withsubs">
                    <a href="index.html">Home <span><i class="las la-angle-down"></i></span></a>
                    <ul class="subnav">
                        <li><a href="index.html">Home page 1 </a></li>
                        <li><a href="index-2.html">Home page 2</a></li>
                        <li><a href="index-3.html">Home page 3</a></li>
                    </ul>
                </li>
                <!-- with sub menu  -->
                <li class="withsubs">
                    <a href="shop-list.html">Shop <span><i class="las la-angle-down"></i></span></a>
                    <ul class="subnav">
                        <li><a href="shop-list.html">List view </a></li>
                        <li><a href="shop-grid.html">Grid view</a></li>
                        <li><a href="shop-grid-2.html">Grid view 2</a></li>

                        <li><a href="shopping-cart.html">Shopping cart</a></li>
                        <li><a href="product-view.html">Product view</a></li>
                    </ul>
                </li>
                <!-- with sub menu  -->
                <li class="withsubs">
                    <a href="shop-list.html">Pages <span><i class="las la-angle-down"></i></span></a>
                    <div class="subnav py-3 px-2 d-flex gx-4">
                        <!-- single sub items  -->
                        <div class="single_subnav">
                            <h5 class="text_lg ps-3 mb-2">Others pages</h5>
                            <ul>
                                <li><a href="about-us.html">About us</a></li>
                                <li><a href="contact-us.html">Contact us</a></li>

                                <li><a href="track-order.html">Track order</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="404.html">404</a></li>
                            </ul>
                        </div>
                        <!-- single sub items  -->
                        <div class="single_subnav">
                            <h5 class="text_lg ps-3 mb-2">Account pages</h5>
                            <ul>
                                <li><a href="account.html">My Account</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="shop-grid.html">Forgot password</a></li>
                            </ul>
                        </div>
                        <!-- single sub items  -->
                        <div class="single_subnav">
                            <h5 class="text_lg ps-3 mb-2">Checkout page</h5>
                            <ul>
                                <li><a href="shop-list.html">Checkout</a></li>
                                <li><a href="shop-list.html">Payment</a></li>
                                <li><a href="shop-list.html">Payment success</a></li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="contact-us.html">contact</a></li>
                <!-- top head items  -->
                <li class="tophead_items ms-auto">
                    <a href="tel:+18475555555" class="me-0 pe-0">
                        <span><i class="las la-phone"></i></span>
                        call: +123 456 7890
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>