



<div class="mobile_menwrap d-lg-none" id="mobileCart">
    <div class="mobile_cart_wrap d-flex flex-column">
        <h5 class="mobile_title">
            Cart
            <span class="sidebarclose" id="mobileCartClose">
                <i class="las la-times"></i>
            </span>
        </h5>
        <div class="px-3 py-3 flex-grow-1 d-flex flex-column">
            <div class="cart_droptitle">
                <h4 class="text_lg">Total 2 Items</h4>
            </div>
            <div class="cartsdrop_wrap">
                <!-- mobile cart single product  -->
                <a href="product-view.html" class="single_cartdrop mb-3">
                    <span class="remove_cart"><i class="las la-times"></i></span>
                    <div class="cartdrop_img">
                        <img loading="lazy" src="assets/images/75x60.png" alt="product">
                    </div>
                    <div class="cartdrop_cont">
                        <h5 class="text_lg mb-0 default_link">
                            Men casual shoes
                        </h5>
                        <p class="mb-0 text_xs text_p">x1 <span class="ms-2">$450</span></p>
                    </div>
                </a>
                <!-- mobile cart single product  -->
                <a href="product-view.html" class="single_cartdrop">
                    <span class="remove_cart"><i class="las la-times"></i></span>
                    <div class="cartdrop_img">
                        <img loading="lazy" src="assets/images/75x60.png" alt="product">
                    </div>
                    <div class="cartdrop_cont">
                        <h5 class="text_lg mb-0 default_link">
                            Men casual shoes
                        </h5>
                        <p class="mb-0 text_xs text_p">x1 <span class="ms-2">$450</span></p>
                    </div>
                </a>
            </div>
            <div class="mt-auto">
                <div class="total_cartdrop">
                    <h4 class="text_lg text-uppercase mb-0">Sub Total:</h4>
                    <h4 class="text_lg mb-0 ms-2">$980.00</h4>
                </div>
                <!-- mobile cart button  -->
                <div class="cartdrop_footer mt-3 d-flex">
                    <a href="shopping-cart.html" class="default_btn w-50 text_xs px-1">View Cart</a>
                    <a href="checkout.html" class="default_btn second ms-3 w-50 text_xs px-1">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
